language: python
branches:
  only:
  - master
  - Develop
matrix:
  include:
  - name: Python 3.5 on Linux
    python: 3.5
  - name: Python 3.6 on Linux
    python: 3.6
    env:
    - BUILD=True
  - name: Python 3.7 on Xenial Linux
    python: 3.7
    dist: xenial
  - name: Python 3.7 on macOS
    os: osx
    osx_image: xcode10.2
    language: shell
    env:
    - PIPFLAG="--user"
before_install:
- make build
install:
- pip3 install dist/*.whl $PIPFLAG
script:
- make lint
- make tests
before_deploy:
- cd docs
- make build
- cd ..
deploy:
  - provider: pypi
    user: adahlberg
    password:
      secure: HS1N/sC4eBKH/SQWLNxxO1wS1/P2lp5aV69plaw0sU3aj97uz1RkLDPI8YUG1y3yEIR053JB+MGSnZ1DxXEqu0lH6XXI+pBtej47asRB+mbjFUZpCSPtq2KzcVkGF5bxpyA1k6l6Q3NauyJw2gAJrP+YYX6lO1Fd+WDdzEFw4sPnyM+r77krfOPMozEr1vBls2H5kVxA61yxb+uaydefL4tNqaZy8oCTOGEDUT/OzgiX+pWGtmOYP1MIs7ZBboODY3KzwgkVfPtEPsqR0AAic8KHzrZxjd32a3FqmVAV8+Gv0f7HaL6eRP9hJcxwOHRpv7v66BFBRe9zS16CV9CyaSEQ61ZDKdnEIvjSUiXwQeHnLahMNpX7qdRKmjbvM1Odij1qd44KHg10H0hywf2brqQJEUDh3iquas5A9cB/5aAqalHBJ5+pThkOhG23PoE/OfuXAjBjKIrAkHgugekG0aPC3KskdX1EHxiyobvuyvJFqchT7xpYY1NDFVrawdYpLWNPU6Mw2cobCKIg7WvkJa0oN7ndOE40YUNeuzfP+/0QYuAf/CKE344Rk7+1j2mg6vRxshm7N58hZ2d1wAPTa0ucX8PwhT2RPmylZQm2TBfXgRAuM7ggSpeYGOvbVryqfV76s9mdm5AwRtEyPvWt8KMkL2FGaSnFlx2juRkpk7Q=
    distributions: sdist bdist_wheel
    skip_existing: true
    on:
      branch: master
      condition: "$BUILD = True"
  - provider: pages
    skip_cleanup: true
    github_token: "$GITHUB_TOKEN"
    keep_history: true
    committer_from_gh: true
    local_dir: docs/build
    on:
      branch: master
      condition: "$BUILD = True"
env:
  global:
    secure: Unrc3zfCtNizkXNK2MC2evMLngnwrWwbUiWvze4fFeac5yo9M8cDohRB5XedjSEf8QbET9JbmrF80LWuSGM1TVHXcU4EnFfrqX8rRXXpz2xvV/HryuhNmeHS9w8csBIVCuAa3O99IPinfarDcbwkHD54DbgveIWIsUVerIZPAaTlR9lLcxB9QDWQrm3NYcSi3UN5tWrgx9lvAONDkQ0KZlesCfNLnGjQrMbS6hbNb4SJNyZ4nBMY7HgG9uuImZwEtOfMi5R3j8SalUNVw1xxMB0qVqGsC559PBxhF5e1pLXQU8D2vHZseKfnoqJQaQIJrX+SQZXDYBria0j689+SeUi5ipCjI9/Oo9WRVuIrAgGizf9rxbpTugbD16y3YkiZIPWrEDrkm89LsI0ydKWCc7TEQsXgOFg+DazBDtXC6W+GpxgexddsVRvPeCIjLa6AdnbuHyo/K403LVDVW6YBg1dK41eR9QMUS9q+PnqhPorkOLyLRv+s11wIXqft/QzIQ+vekV1cEhx106HeWWxnd0B7tW4KbZc8xOuTeyKrHIf1PNKoyUMWUeKQ06Xi6oypE8m2cs2DYWPnAEKOfm7+f3bM8fbkaYKH4dgtibIGO3y/45YBK3imQOW9wsQKneHD66HJRIfuw1F/zfkeK5v+QoyjCCOKuq29RdbDO8FfNPw=
