# Network configuration file
#
# For each host its informal name, as well as its location in the network must
# be listed.
#
# [name], [hostname], [port number]
#
Alice, localhost, 9222
Bob, localhost, 9223
Charlie, localhost, 9224
