# Network configuration file
#
# For each host its informal name, as well as its location in the network must
# be listed.
#
# [name], [hostname], [port number]
#
Alice, localhost, 9210
Bob, localhost, 9211
Charlie, localhost, 9212
