# Network configuration file
# 
# For each host its informal name, as well as its location in the network must
# be listed.
#
# [name], [hostname], [port number]
#

Alice, localhost, 8831
Bob, localhost, 8832
Charlie, localhost, 8833
David, localhost, 8834


