# Network configuration file
#
# For each host its informal name, as well as its location in the network must
# be listed.
#
# [name], [hostname], [port number]
#
Alice, localhost, 8806
Bob, localhost, 8807
Charlie, localhost, 8808
David, localhost, 8809
Eve, localhost, 8810
